body{font-family:Arial;background:#f5f5f5;padding:20px;}
.card{background:white;padding:20px;border-radius:10px;max-width:800px;margin:auto;box-shadow:0 0 10px #aaa;}
table{width:100%;border-collapse:collapse;margin-top:20px;}
th{background:#1e88e5;color:white;padding:6px;border:1px solid #555;}
td{border:1px solid #aaa;padding:6px;text-align:center;}
input{width:60px;text-align:center;background:#fff8c4;}
.red{color:red;}
.sel{margin:4px;padding:6px 10px;}